@mixin titleBig($title-color, $title-size, $title-family) {
  padding: 1.5rem;
  color: $title-color;
  font: {
    family: $title-family;
    weight: 400;
    size: $title-size;
  }
}

@mixin floating(
  $border-radius: 30px,
  $box-shadow: 7px 6px 18px 2px #000000,
  $border: 1px solid palegoldenrod
) {
}
